<html ng-app="morpheusApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Morpheus</title>
    <script src="http://code.jquery.com/jquery-1.12.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css"/>
    <script language="javascript" type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script language="javascript" type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/main.js"></script>
    <link href="css/index.css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Morpheus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="logout" method="post">
                        <button type="submit" id="logout-button" class="btn">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-controller="EmployeeCtrl" id="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <h4 th:text="${#authentication.name}"></h4>
                        <h5 th:if="${#authorization.expression('hasRole(''ROLE_DEVELOPER'')')}">{{employee.level}}</h5>
                    </div>
                </div>
                <li id="devMatrix" class="active"><a href="#" ng-click="reinitializeMatrix()">Development Matrix</a>
                </li>
                <li id="createEmployee" th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}">
                    <a href="#" ng-click="createEmployee()">Create Employee</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="content">
                <div class="input-group" th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}"
                     id="search-bar">
                    <input type="text" class="form-control" placeholder="Search for employee.." name="q"
                           ng-model="searchValue" id="q"/>

                    <div class="input-group-btn">
                        <button id="search" class="btn btn-default" type="submit" ng-click="performSearch()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
                <div id="createEmployeeForm">
                    <input id="newUsername" class="form-control" type="text" name="Employee Name"
                           ng-model="employee.username" placeholder="Enter new employee username.."/>
                    <label id="roleLabel">Role</label>
                    <select id="roleSelect" ng-model="employee.role">
                        <option value="Developer">Developer</option>
                        <option value="TeamLead">Team Lead</option>
                    </select>
                    <br/>
                    <label>Level</label>
                    <select id="levelSelect" ng-model="employee.level">
                        <option value="JuniorDeveloper">Junior Developer</option>
                        <option value="MidDeveloper">Mid Developer</option>
                        <option value="SeniorDeveloper">Senior Developer</option>
                    </select>
                </div>

                <div id="skills-matrix"
                     class="skills-matrix">

                    <table id="myTable" class="display">
                        <thead>
                        <tr>
                        <tr>
                            <th></th>
                            <th colspan="3" class="junior">Junior Dev</th>
                            <th colspan="3" class="mid">Mid Dev</th>
                            <th colspan="3" class="senior">Senior Dev</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th class="junior">Low</th>
                            <th class="junior">Mid</th>
                            <th class="junior">High</th>
                            <th class="mid">Low</th>
                            <th class="mid">Mid</th>
                            <th class="mid">High</th>
                            <th class="senior">Low</th>
                            <th class="senior">Mid</th>
                            <th class="senior">High</th>
                            <th class="comments">Comments</th>
                        </tr>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="skill in skillsTemplate">
                            <td>{{skill.description}}</td>
                            <td ng-repeat="n in range(0,8)">
                                <div th:if="${#authorization.expression('hasRole(''ROLE_DEVELOPER'')')}">
                                    <input type="radio" ng-disabled="{{skill.value === n ? 'false' : 'true'}}"
                                           ng-checked="{{skill.value === n ? 'true' : 'false'}}"/>
                                </div>
                                <div th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}">
                                    <input type="radio" ng-checked="{{skill.value === n ? 'true' : 'false'}}"
                                           name="{{skill.description}}" ng-click="updateSkill(skill.description, n)"/>
                                </div>
                            </td>
                            <td>
                                <input name="commentText" type="text" ng-model="skill.comment" class="commentText"
                                       readonly="readonly"/>
                                <button class="button" ng-click="updateCommentDialog(skill)">Edit</button>
                                <div id="{{skill.value}}" title="Update comment" style="display: none">
                                    <textarea id="commentTextArea" ng-model="skill.comment"></textarea>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}">
                <button type="submit" id="save-button" class="btn btn-success" ng-click="persistSkills()">Save</button>
                <button type="submit" id="save-employee" class="btn btn-success" ng-click="persistEmployee()">Save
                </button>
            </div>
            <script>
                    $('#myTable').DataTable({
                        "paging": false,
                        "info": false,
                        "searching": false
                    });
            </script>
        </div>
    </div>

    <div id="update-success">
        Successfully updated skills
    </div>

    <div id="create-success">
        Successfully created new employee
    </div>
</div>

</body>
</html>