<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Morpheus</title>
    <script src="http://code.jquery.com/jquery-1.12.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css"/>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="css/index.css" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Morpheus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="logout" method="post">
                        <button type="submit" id="logout-button" class="btn">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                             width="150" height="150" class="img" alt="Generic placeholder thumbnail"/>
                        <h4><span class="role"></span></h4>
                    </div>
                </div>
                <li class="active"><a href="#">Development Matrix<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Others..</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                <span th:text="${#authentication.name}"></span>
            </h1>

            <table id="myTable" class="display">
                <thead>
                <tr>
                <tr>
                    <th></th>
                    <th colspan="3" class="junior">Junior Dev</th>
                    <th colspan="3" class="mid">Mid Dev</th>
                    <th colspan="3" class="senior">Senior Dev</th>
                </tr>
                <tr>
                    <th></th>
                    <th class="junior">Low</th>
                    <th class="junior">Mid</th>
                    <th class="junior">High</th>
                    <th class="mid">Low</th>
                    <th class="mid">Mid</th>
                    <th class="mid">High</th>
                    <th class="senior">Low</th>
                    <th class="senior">Mid</th>
                    <th class="senior">High</th>
                </tr>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

            <script>
                $.get("employee", function (data) {
                    $(".role").html(data.role);
                    for (var name in data.skills) {
                        console.log(name + "=" + data.skills[name]);
                        addRowToTable(name, data.skills[name]);
                    }
                    $('#myTable').DataTable({
                        "paging": false,
                        "info": false,
                        "searching": false
                    });
                });

                function addRowToTable(property, value) {
                    var idProperty = property.replace(/\s+/g, '');
                    $('#myTable').append(
                            '<tr id="' + idProperty + '">' +
                            '<td>' + property + '</td>' +
                            '<td class="junior"><input type="checkbox" id="1" class="checkbox" /></td>' +
                            '<td class="junior"><input type="checkbox" id="2" class="checkbox" /></td>' +
                            '<td class="junior"><input type="checkbox" id="3" class="checkbox" /></td>' +
                            '<td class="mid"><input type="checkbox" id="4" class="checkbox" /></td>' +
                            '<td class="mid"><input type="checkbox" id="5" class="checkbox" /></td>' +
                            '<td class="mid"><input type="checkbox" id="6" class="checkbox" /></td>' +
                            '<td class="senior"><input type="checkbox" id="7" class="checkbox"/></td>' +
                            '<td class="senior"><input type="checkbox" id="8" class="checkbox" /></td>' +
                            '<td class="senior"><input type="checkbox" id="9" class="checkbox" /></td>' +
                            '</tr>'
                    );
                    $('#' + idProperty).find('#' + value).prop("checked", true);
                }
            </script>
        </div>
    </div>
</div>
</body>
</html>