/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#logout-button {
   width: 100%;
   margin-top: 10px;
   margin-left:75%;
}

.logout {
    position: fixed;
    bottom: 0;
    left: 10;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 50;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: #f5f5f5
}

.img {
    margin-left: 45px;
}

h4 {
    margin-left: 30px;
    font-weight: bold;
}

h5 {
    margin-left: 30px;
    font-weight: bold;
}

.junior {
    background-color: #1abf9f;
    color: white;
    font-weight: 200;
    text-align: center;
}

.mid {
    background-color: #2cc36b;
    color: white;
    font-weight: 200;
    text-align: center;
}

.senior {
    background-color: #2ecc71;
    color: white;
    font-weight: 200;
    text-align: center;
}

.action {
    font-weight: 200;
    text-align: center;
}

.btn btn-danger {
    margin-top: 20px;
}

.comments {
    width: 250px;
    background-color: #428bca;
    color: white;
    font-weight: 200;
    text-align: center;
}

.commentText {
    width: 300px;
    margin-left: 10px;
}

#search-bar {
    margin-bottom: 10px;
}

#save-button {
    /* display: none; */
    margin-top: 5px;
    margin-right: 20px;
    float: right;
}

#timemachine {
    display: none;
    margin-top: 10px;
    margin-left: 19%;
    float: left;
    width: 30%;
}

.skills-matrix{
    display: none;
}

#slider-snap{
    display: none;
}

#save-employee {
    margin-top: 5px;
    float: right;
}

#update-success, #create-success {
    display: none;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    background-color: #428bca;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

#newUsername {
    width: 100%;
    margin-bottom: 10px;
}

#roleSelect, #levelSelect {
    margin-bottom: 10px;
    width: 200px;
}

#roleLabel {
    padding-right: 5px;
}

.button {
    background-color: #428bca;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
}

#commentTextArea {
   width: 260;
   height: 175;
   resize: none;
}


/*TOOLTIP*/
[data-tip] {
    position:relative;
}

[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:30px;
    left:5px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}

[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:35px;
    left:0px;
    padding:8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:auto;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}