<div class="input-group" ng-show="isManager()"
     id="search-bar">
    <input type="text" class="form-control" placeholder="Search for employee.." name="q"
           ng-model="searchValue" id="q"/>

    <div class="input-group-btn">
        <button id="search" class="btn btn-default" type="submit" ng-click="performSearch()">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</div>

<div id="skills-matrix" class="skills-matrix">
    <div id="employeeDetails">
        <h3>{{employee.username}}</h3>
        <label id="team-label">Team</label>
        <select id="team-field" ng-model="employeeDetails.team.name" ng-disabled="!isManager()">
            <option ng-repeat="team in teams" value="{{team.name}}">{{team.name}}</option>
        </select>

        <label id="level-label">Level</label>
        <select id="level-field" ng-model="employeeDetails.level" ng-disabled="!isManager()">
            <option ng-repeat="level in levels" value="{{level}}">{{level}}</option>
        </select>

        <label id="role-label">Role</label>
        <select id="role-field" ng-model="employeeDetails.role"
                ng-disabled="((employeeDetails.level != 'SeniorDeveloper') || (!isManager()))">
            <option value="Developer">Developer</option>
            <option value="TeamLead">TeamLead</option>
        </select>
        <div class="delete-dev" ng-show="isManager()">
            <button class="btn btn-danger" id="delete-dev" type="submit" ng-click="deleteDeveloper()">Delete Developer
            </button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li ng-repeat="template in templates" class="{{$index === 0 ? 'active' : ''}}">
            <a data-toggle="tab"
               href="#{{template.templateClass}}" target="_self">
                {{template.templateName}}
            </a>
        </li>
    </ul>

    <div class="tab-content" print-section print-landscape>
        <div ng-repeat="template in templates" id="{{template.templateClass}}"
             class="{{$index === 0 ? 'tab-pane fade in active' : 'tab-pane fade'}}">
            <table class="table myTable">
                <thead>
                <tr>
                <tr>
                    <th></th>
                    <th colspan="3" class="junior">Junior Dev</th>
                    <th colspan="3" class="mid">Mid Dev</th>
                    <th colspan="3" class="senior">Senior Dev</th>
                    <th colspan="3"><button class="btn btn-primary pull-right" print-btn print-hide><span class="glyphicon glyphicon-print"></span></button></th>
                </tr>
                <tr>
                    <th></th>
                    <th class="junior">Low</th>
                    <th class="junior">Mid</th>
                    <th class="junior">High</th>
                    <th class="mid">Low</th>
                    <th class="mid">Mid</th>
                    <th class="mid">High</th>
                    <th class="senior">Low</th>
                    <th class="senior">Mid</th>
                    <th class="senior">High</th>
                    <th class="comments">Manager Comments</th>
                    <th class="comments">Dev Comments</th>
                </tr>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="field in template.fields">
                    <td id="matrix-field-name">{{field.fieldName}}</td>
                    <td ng-repeat="n in range(0,8)">
                        <div data-tip="{{descriptionFor(field.fieldName, n)}}">
                            <input type="radio"
                                   class="pointer"
                                   style="cursor:default"
                                   ng-show="!hasEditorPrivileges()"
                                   ng-disabled="field.rating != n"
                                   ng-model="field.rating"
                                   ng-value="n"/>
                            <input type="radio"
                                   class="pointer"
                                   style="cursor:default"
                                   ng-show="hasEditorPrivileges()"
                                   ng-disabled="managerCanSee(field.rating, n)"
                                   ng-model="field.rating"
                                   ng-value="n"
                                   ng-click="updateSkill(field.fieldName, n)"/>
                        </div>
                    </td>
                    <td>
                        <input name="managerCommentText" print-hide type="text" ng-model="field.comment" class="managerCommentText"
                               readonly="readonly"/>
                        <button class="button" print-hide ng-click="updateCommentDialog(field, 'manager')">{{hasEditorPrivileges() &&
                            isEditable() ?
                            'Edit'
                            :
                            'View'}}
                        </button>
                        <div print-only>{{field.comment}}</div>
                    </td>
                    <td>
                        <input name="devCommentText" print-hide type="text" ng-model="field.devComment" class="devCommentText"
                               readonly="readonly"/>
                        <button class="button" print-hide ng-click="updateCommentDialog(field, 'dev')">{{hasEditorPrivileges() &&
                            isEditable() ?
                            'View'
                            :
                            'Edit'}}
                        </button>
                        <div print-only>{{field.comment}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="footer">
    <div ng-show="isEditable()">
        <button type="submit" id="save-button"
                class="btn btn-primary"
                ng-click="persistSkills()"
                ng-disabled="isNotDirty()">
            Save
        </button>
        <label id="work-in-progress-label">Is Work In Progress</label>
        <input type="checkbox"
               id="is-work-in-progress-save"
               ng-disabled="isNotDirty()"
               ng-model="employee.isWorkInProgress"/>
    </div>
    <div id="timemachine">
        <div id="slider-snap"></div>
        <div id="date"></div>
    </div>
</div>
<div id="managerCommentsBox" title="Update comment" style="display: none">
    <textarea id="managerCommentTextArea" ng-readonly="!hasEditorPrivileges()"></textarea>
</div>
<div id="devCommentsBox" title="Update comment" style="display: none">
    <textarea id="devCommentTextArea" ng-readonly="hasEditorPrivileges()"></textarea>
</div>
